<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary|WeKeepItForYou</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'addMemory' %}">
                        Add
                    </a>
                </li>
                <li>
                    <a href="{% url 'review' %}">
                        Review
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}

    <footer>
        <p>chirp</p>
        <p>&copy2024 all rights reserved</p>
    </footer>
    
</body>
</html>