{% extends 'memory/base.html' %}

{% block content %}

<main>
    <ul>
        <h>Here are your memories</h>
        {%for memory in memories %}
        <li>
            <div>
                <p>{{memory.event.eventTitle}}</p>
                {% load static %}
                <img width="200px" src="{% static memory.photos.photo %}" alt="photo {{memory.photos.photoID}}">
                <p>{{memory.event.eventDescription}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock content %}